Lab4 Gateway application.json
[{"id":"cf96239.6efade","type":"tab","label":"GateWay Application","disabled":true,"info":""},{"id":"da02176b.110268","type":"inject","z":"cf96239.6efade","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["dc2578d9.8e57d8"]]},{"id":"aa4cd0e8.8d48c","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"dc2578d9.8e57d8","type":"Container","z":"cf96239.6efade","name":"","platform":"76333dad.c2fa14","name1":"96de4645.c17e58","viewtype":"DATA","viewunid1":"","x":500,"y":560,"wires":[["aa4cd0e8.8d48c"]]},{"id":"e5792447.1c68d8","type":"inject","z":"cf96239.6efade","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["e24a71d8.abd61"]]},{"id":"8e3c296f.329698","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":680,"wires":[]},{"id":"80314fd7.68bda","type":"http request","z":"cf96239.6efade","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":680,"wires":[["8e3c296f.329698"]]},{"id":"e24a71d8.abd61","type":"ContentInstance","z":"cf96239.6efade","name":"","platform":"76333dad.c2fa14","name1":"96de4645.c17e58","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"1"},{"type":"str","label":"longitude","value":"2"}],"x":480,"y":700,"wires":[["80314fd7.68bda"]]},{"id":"8e8689d7.916bb8","type":"http in","z":"cf96239.6efade","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":90,"y":980,"wires":[["3692637b.e4766c"]]},{"id":"3692637b.e4766c","type":"xml","z":"cf96239.6efade","name":"","property":"payload","attr":"","chr":"","x":290,"y":980,"wires":[["17bed73.dd3bc29"]]},{"id":"17bed73.dd3bc29","type":"switch","z":"cf96239.6efade","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":980,"wires":[["8dc96a4f.94fd78"],["6c1d88b8.7c1d08"]]},{"id":"6c1d88b8.7c1d08","type":"function","z":"cf96239.6efade","name":"","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1060,"wires":[["ba51ffae.b5078"]]},{"id":"ba51ffae.b5078","type":"xml","z":"cf96239.6efade","name":"","property":"payload","attr":"","chr":"","x":790,"y":1060,"wires":[["c361962a.97b2d8"]]},{"id":"c361962a.97b2d8","type":"function","z":"cf96239.6efade","name":"","func":"var New = {latitude:null,longitude:null};\nNew.latitude = msg.payload.obj.str[0].$.val;\nNew.longitude = msg.payload.obj.str[1].$.val;\nmsg.payload = New;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1060,"wires":[["6939ca20.aa0444"]]},{"id":"6939ca20.aa0444","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":1060,"wires":[]},{"id":"8dc96a4f.94fd78","type":"http response","z":"cf96239.6efade","name":"","statusCode":"","headers":{},"x":630,"y":940,"wires":[]},{"id":"e0ba4e08.b47e2","type":"inject","z":"cf96239.6efade","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":820,"wires":[["8b3c55cd.1351b8"]]},{"id":"8b3c55cd.1351b8","type":"Subscription","z":"cf96239.6efade","name":"","platform":"76333dad.c2fa14","sensor":"96de4645.c17e58","container":"DATA","path":"http://localhost:1880/monitor","x":420,"y":820,"wires":[["4c8b6df.9869394"]]},{"id":"4c8b6df.9869394","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":820,"wires":[]},{"id":"4230579c.47b688","type":"http in","z":"cf96239.6efade","name":"","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1340,"wires":[["d054292d.8981d8"]]},{"id":"d054292d.8981d8","type":"function","z":"cf96239.6efade","name":"","func":"/*jshint multistr: true */\nvar data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>message</cnf>\\\n\t<con>\\\n\t  &lt;obj&gt;\\\n\t\t&lt;str name=&quot;latitude&quot; val=&quot;'+msg.payload.latitude+'&quot;/&gt;\\\n\t\t&lt;str name=&quot;longitude&quot; val=&quot;'+msg.payload.longitude+'&quot;/&gt;\\\n\t  &lt;/obj&gt;\\\n\t</con>\\\n</m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1340,"wires":[["f82786d4.8f3b38"]]},{"id":"f82786d4.8f3b38","type":"http request","z":"cf96239.6efade","name":"post-to-mn_cse","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/mn-cse/mn-name/LOCATION_GATEWAY_APPLICATION/DATA","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":1340,"wires":[["4b172ec7.7e134","a3011620.c0ce58"]]},{"id":"4b172ec7.7e134","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1320,"wires":[]},{"id":"a3011620.c0ce58","type":"http response","z":"cf96239.6efade","name":"","statusCode":"","headers":{},"x":670,"y":1360,"wires":[]},{"id":"4c1b155a.a022ac","type":"Application","z":"cf96239.6efade","name":"","platform":"76333dad.c2fa14","name1":"96de4645.c17e58","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"Location","value":"DCNLab"}],"cntInstance":"","x":490,"y":460,"wires":[["6b22c0c5.84a97"]]},{"id":"454e373f.d0c468","type":"inject","z":"cf96239.6efade","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":460,"wires":[["4c1b155a.a022ac"]]},{"id":"6b22c0c5.84a97","type":"debug","z":"cf96239.6efade","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]},{"id":"76333dad.c2fa14","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"96de4645.c17e58","type":"AE","z":"","appId":"LOCATION_GATEWAY_APPLICATION"}]