lab4/Lab4 Network application.json
[{"id":"a26e677a.1fdee8","type":"tab","label":"Network Application","disabled":false,"info":""},{"id":"cb13a810.424108","type":"inject","z":"a26e677a.1fdee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":80,"wires":[["13f25bc6.2454c4"]]},{"id":"13f25bc6.2454c4","type":"Application","z":"a26e677a.1fdee8","name":"","platform":"f968cb0b.3ce1a8","name1":"3a7da8c3.bbd468","pointOfAccess":"","obixAnnounce":false,"width":0,"options":[{"label":"location","value":"nckucsie"}],"cntInstance":"","x":500,"y":80,"wires":[["730ff558.69c5ec"]]},{"id":"730ff558.69c5ec","type":"debug","z":"a26e677a.1fdee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"e2861505.1491c8","type":"inject","z":"a26e677a.1fdee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":200,"wires":[["fcc920da.8447c"]]},{"id":"fcc920da.8447c","type":"Container","z":"a26e677a.1fdee8","name":"","platform":"f968cb0b.3ce1a8","name1":"3a7da8c3.bbd468","viewtype":"DATA","viewunid1":"","x":510,"y":200,"wires":[["6b4e2cea.96de24"]]},{"id":"6b4e2cea.96de24","type":"debug","z":"a26e677a.1fdee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"bf34a651.a88ec8","type":"inject","z":"a26e677a.1fdee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":300,"wires":[["14b56982.8a5ce6"]]},{"id":"14b56982.8a5ce6","type":"ContentInstance","z":"a26e677a.1fdee8","name":"","platform":"f968cb0b.3ce1a8","name1":"3a7da8c3.bbd468","container":"DATA","width":0,"options":[{"type":"str","label":"latitude","value":"22.9970688"},{"type":"str","label":"longitude","value":"120.22097"}],"x":520,"y":300,"wires":[["d26d9af4.059428"]]},{"id":"d26d9af4.059428","type":"debug","z":"a26e677a.1fdee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"c960a01f.a6ffc","type":"http in","z":"a26e677a.1fdee8","name":"","url":"locations","method":"get","upload":false,"swaggerDoc":"","x":250,"y":400,"wires":[["d2210592.864488"]]},{"id":"d2210592.864488","type":"http request","z":"a26e677a.1fdee8","name":"get from in-cse","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:8282/~/in-cse/in-name/IN_Location/DATA/la","tls":"","persist":false,"proxy":"","authType":"basic","x":420,"y":400,"wires":[["3befcba.8904034"]]},{"id":"3befcba.8904034","type":"xml","z":"a26e677a.1fdee8","name":"","property":"payload","attr":"","chr":"","x":570,"y":400,"wires":[["ecba4f0.fce19b"]]},{"id":"ecba4f0.fce19b","type":"function","z":"a26e677a.1fdee8","name":"","func":"msg.payload=msg.payload[\"m2m:cin\"].con[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":400,"wires":[["b9b0e169.d1ce5"]]},{"id":"b9b0e169.d1ce5","type":"xml","z":"a26e677a.1fdee8","name":"","property":"payload","attr":"","chr":"","x":830,"y":400,"wires":[["76376983.22b7a8"]]},{"id":"76376983.22b7a8","type":"function","z":"a26e677a.1fdee8","name":"","func":"msg.payload=\"{latitude:\"+msg.payload.obj.str[0].$.val+\",longitude:\"+msg.payload.obj.str[1].$.val+\"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":400,"wires":[["68d5c74f.3b7b28","ab1caf6c.5100e"]]},{"id":"68d5c74f.3b7b28","type":"debug","z":"a26e677a.1fdee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":440,"wires":[]},{"id":"ab1caf6c.5100e","type":"http response","z":"a26e677a.1fdee8","name":"","statusCode":"","headers":{},"x":1090,"y":360,"wires":[]},{"id":"f968cb0b.3ce1a8","type":"xN_CSE","z":"","platform":"in-cse","URLBase":"http://127.0.0.1:8282/~/in-cse/in-name","user":"admin","password":"admin"},{"id":"3a7da8c3.bbd468","type":"AE","z":"","appId":"IN_Location"}]