lab5/lab5 node-red.json
[{"id":"2f4c5704.fbe0a8","type":"tab","label":"Lab5_AirCon_monitor","disabled":true,"info":""},{"id":"b268b969.d37728","type":"inject","z":"2f4c5704.fbe0a8","name":"訂閱 AirCon","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["17c567ab.85f428"]]},{"id":"405211bd.48ad3","type":"debug","z":"2f4c5704.fbe0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":180,"wires":[]},{"id":"215cb5a7.ab6c3a","type":"http in","z":"2f4c5704.fbe0a8","name":"","url":"/AirCon","method":"post","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["350c3ca8.d04434"]]},{"id":"350c3ca8.d04434","type":"xml","z":"2f4c5704.fbe0a8","name":"","property":"payload","attr":"","chr":"","x":270,"y":80,"wires":[["5f846096.8759d"]]},{"id":"13a5c210.d6dc7e","type":"http response","z":"2f4c5704.fbe0a8","name":"Notification Response","statusCode":"","headers":{},"x":620,"y":60,"wires":[]},{"id":"8f1a8153.d7bec","type":"inject","z":"2f4c5704.fbe0a8","name":"刪除訂閱 AirCon","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["2b2629c.20473d6"]]},{"id":"c039b8b9.4d3178","type":"debug","z":"2f4c5704.fbe0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":240,"wires":[]},{"id":"2b2629c.20473d6","type":"http request","z":"2f4c5704.fbe0a8","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://140.116.247.69:8282/~/mn-cse/mn-name/Air_Conditioner/DATA/SUBSCRIPTION","tls":"","proxy":"","authType":"basic","x":330,"y":240,"wires":[["c039b8b9.4d3178"]]},{"id":"17c567ab.85f428","type":"Subscription","z":"2f4c5704.fbe0a8","name":"","platform":"2ad4cd91.44e262","sensor":"2c7e9854.9f8168","container":"DATA","path":"http://localhost:1880/AirCon","x":330,"y":180,"wires":[["405211bd.48ad3"]]},{"id":"5f846096.8759d","type":"switch","z":"2f4c5704.fbe0a8","name":"","property":"payload[\"m2m:sgn\"].nev[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":80,"wires":[["13a5c210.d6dc7e"],["ec3c8cbb.aa42"]]},{"id":"ec3c8cbb.aa42","type":"function","z":"2f4c5704.fbe0a8","name":"取出狀態","func":"var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":100,"wires":[["7521bcd2.8e81e4"]]},{"id":"f01cef93.7647c","type":"debug","z":"2f4c5704.fbe0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":100,"wires":[]},{"id":"7521bcd2.8e81e4","type":"xml","z":"2f4c5704.fbe0a8","name":"","property":"payload","attr":"","chr":"","x":710,"y":100,"wires":[["3acdb580.a67bba"]]},{"id":"3acdb580.a67bba","type":"function","z":"2f4c5704.fbe0a8","name":"","func":"var New = {state:null,temp:null,fan:null};\nNew.state = msg.payload.obj.bool[0].$.val;\nNew.temp = msg.payload.obj.int[0].$.val;\nNew.fan = msg.payload.obj.int[1].$.val;\nmsg.payload = New;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["f01cef93.7647c"]]},{"id":"2ad4cd91.44e262","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8282/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"2c7e9854.9f8168","type":"AE","z":"","appId":"Air_Conditioner"}]